
ion-tab-bar{
    --background: rgb(247, 221, 226);
}
ion-label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.seleccionado{
    background-color: pink;
}
